[submodule "C_library_for_planing/googletest"]
	path = C_library_for_planing/googletest
	url = https://github.com/google/googletest

[submodule "C_library_for_planing/rapidxml"]
	path = C_library_for_planing/rapidxml
	url = https://github.com/viriw/rapidxml
