[submodule "rapidxml"]
	path = C_library_for_planing/rapidxml
	url = https://github.com/viriw/rapidxml
[submodule "googletest"]
	path = C_library_for_planing/googletest
	url = https://github.com/google/googletest
