[submodule "rapidxml"]
	path = rapidxml
	url = https://github.com/viriw/rapidxml
[submodule "C_library_for_planing/googletest"]
	path = C_library_for_planing/googletest
	url = https://github.com/google/googletest
